.content{
	text-align: center;
	padding: 50px 8%;
}
.content>h2{
	margin-bottom: 20px;
}
.text{
	text-align: left !important;
	padding: 10px 2%;
}
.text>p{
	margin-top: 25px;
}
.text>p>i{
	font-size: 35px;
	color: #f8233f;
	margin-right: 1%;
}
form{
	margin-top: 50px;
}
.map{
	margin-top: 50px;
}
.btn-sm{
	margin-left: 15px;
	background: #f8233f;
	border: none;
	color: #fff;
}
textarea{
	width: 100%;
}
button:hover{
	opacity: 0.5;
}