body{
			width: 70%;
	 	}
		.content{
			width: 100%;
			height: 100px;
		}
		.item{
			width: 25%;
			height: 100px;
			float: left;
		}
		.clean{
			clear: both;
		}
		.left{
			float: left;
			width: 17%;
		}
		.right{
			width: 83%;
		}
		.bottom{
			margin-top: 20px;
		}
		.bottom2{
			margin-top: 30px;
			font-weight: bold;
		}
		.bottom2:hover{
			color: blue;
			text-decoration: underline;
		}
		.top:hover{
			color: blue;
			text-decoration: underline;
		}